@layout MainLayout
@page "/Opslaavarenummer"
@using WindsorX_2027.LagerModel
@using WindsorX_2027.LagerRepositoryMappe
@inject ILagerRepository lagerRepository
@inject NavigationManager Navigation

<link href="css/Lager.css" rel="stylesheet" />


@if (!string.IsNullOrEmpty(Varenummer))
{
    <h3>@Message</h3>
    <div class="row ">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" @bind="varenummer" placeholder="Indtast varenummer" style="background-color:lightblue; width:300px">
                <button class="btn btn-primary" @onclick="SøgEfterVarenummer">
                    <i class="btn btn-success oi oi-compass"></i>
                    Søg
                </button>
            </div>
        </div>
    </div>
}

else if (string.IsNullOrEmpty(Varenummer))
{
    <h3>@Message</h3>
    <div class="row">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" @bind="varenummer" placeholder="Indtast varenummer" style="background-color:lightblue;font-size:18px;text-align:center;width:250px;">
                <button class="btn btn-primary" @onclick="SøgEfterVarenummer">
                    <i class="btn btn-success oi oi-compass"></i>
                    Søg
                </button>
            </div>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr id="listeoverskrift">
            <th>Varenummer</th>
            <th>Varetekst</th>
            <th id="talformat">Vare Mængde</th>
            <th id="talformat">Enheder</th>
            <th id="talformat">Kost pris</th>
            <th id="talformat">Max lager</th>
            <th id="talformat">Min lager</th>
        </tr>
    </thead>


    @foreach (var item in fundenvarenummer)
    {
        <tbody style="text-align: center;">
            <tr id="dataliste">
                <td>@item.vareNummer</td>
                <td>@item.vareTekst</td>
                <td id="talformat">@string.Format("{0:F2}", item.vareMaengde)</td>
                <td id="talformat">@string.Format("{0:F2}", item.enheder)</td>
                <td id="talformat">@string.Format("{0:F2}", item.kostPris)</td>
                <td id="talformat">@string.Format("{0:F2}", item.maxLager)</td>
                <td id="talformat">@string.Format("{0:F2}", item.minLager)</td>

            </tr>
        </tbody>
    }
</table>
<table class="table table-striped">
    <thead>
        <tr id="listeoverskrift">
            <th>Salgs Pris</th>
            <th>Location 1</th>
            <th>Location 2</th>
            <th>Opr dato:</th>
            <th>Sidste Lager Bev dato </th>
            <th>Lager optalt dato. </th>
            <th>Sidste Bestillings dato </th>
            <th>Bestillings antal </th>
        </tr>
    </thead>


    @foreach (var item in fundenvarenummer)
    {
        <tbody style="text-align: center;">
            <tr id="dataliste">
                <td id="talformat">@string.Format("{0:F2}", item.salgsPris)</td>
                <td>@item.location1</td>
                <td>@item.location2</td>
                <td>@item.oprDato</td>
                <td>@item.sidsteLagerBevDato</td>
                <td>@item.lagerOptaltDato</td>
                <td>@item.sidsteBestillingsDato</td>
                <td>@item.bestiltAntal</td>
            </tr>
        </tbody>
    }
</table>


<div class="row">
    <div class="my-button">
        <button class="btn btn-primary" @onclick="NavigateToLagerliste">
            <i class="oi oi-list btn btn-success"></i>
            Lager Liste
        </button>
    </div>
</div>

@code {
    private List<Lagermodel> data = new List<Lagermodel>();
    private List<Lagermodel> fundenvarenummer = new List<Lagermodel>();
    public string? varenummer { get; set; }
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Varenummer { get; set; }


    protected override async Task OnInitializedAsync()
    {
        SøgEfterVarenummer();
    }

    private void NavigateToLagerliste()
    {
        Navigation.NavigateTo("/Displaylager");
    }


    protected override void OnParametersSet()
    {
        Message = "Vare forespørgsel";
    }

    private async Task SøgEfterVarenummer()
    {
        fundenvarenummer = await lagerRepository.SoegEfterVarenummer(varenummer);

    }

}